{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="description" content="">
    <title>Slot Booking</title>
    <link href="{% static 'icons/material-icons.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/fscp.css' %}">
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
          flex: 1 0 auto;
      }
    </style>
</head>

<body>
<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l8 offset-l2">
                    <div class="nav-wrapper ">
                        <a href="#" class="brand-logo left">Slot Booking</a>
                        <a href="{% url 'logout' %}" class="right">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main>
	<div class="container">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <div class="section">
                    <p>
                        You are logged in as <mark>{{ student.full_name }}.</mark>
                    </p>
                </div>
                {% if form %}
                    <div class="section">
                        <h4 class="header">Select Slot</h4>
                        <p>
                            <strong>
                                Once booked, slot cannot be changed.
                                Please select your slot carefully.
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Slot availaibilty status is stated alongwith slot in the
                                form below.
                            </strong>
                        </p>
                        <div class="divider bottom10"></div>
                        <div class="error-alert">
                            {% if form.errors %}
                                {% if form.non_field_errors %}
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li class="red-text">{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="red-text">Please correct the errors as shown in the form.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <span class="red-text">{{ field.errors }}</span>
                                        {{ field }}
                                        {{ field.label_tag }}
                                        <small>{{ field.help_text }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" name="_submit" class="btn">Book</button>
                        </form>
                    </div>

                    {% if filled_slot_list.count > 0 %}
                    <div class="section">
                        <h4 class="header">Already Filled Slots</h4>
                        <p>
                            <strong>
                                Maximum limit for following slots have been reached.
                                They are not available anymore.
                            </strong>
                        </p>
                        <div class="divider bottom10"></div>
                        {% for slot in filled_slot_list %}
                            <div class="row">
                                <div class="col l4 m6 s12 ">
                                    {{ forloop.counter }}. {{ slot }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                {% endif %}
                {% if appointment %}
                    <div class="section">
                    <h4 class="header">Details of Booked Slot</h4>
                    <div class="divider" style="margin-bottom: 10px"></div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Slot Timing
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ appointment.slot }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Token Number
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ appointment.token }}
                        </div>
                    </div>
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Booking Time
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ appointment.created_on }}
                        </div>
                    </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<footer class="page-footer" style="padding-top: 0px;font-size: 16px">
          <div class="footer-copyright">
            <div class="container" style="text-align: center">
            &copy SWC, IIT Guwahati | All rights reserved
            </div>
          </div>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script>
	$(document).ready(function(){
	    $('select').material_select();
	});
</script>
</body>
</html>